(
    name: "Sunset\'s Fury",
    stats: (
        movement: 20,
        toughness: 11,
        save: 3,
        invuln: Some(5),
        wounds: 18,
        leadership: 7,
        oc: 1,
    ),
    ranged_weapons: [
        /*[0]*/ ((name: "Experimental Twin Heavy Rail Cannon", range: Ranged(120), attacks: Set(2), skill: 3, strength: 26, ap: 5, damage: Set(12), keywords: []), 1),
        /*[1]*/ ((name: "6x Seeker Missile", range: Ranged(48), attacks: Set(1), skill: 4, strength: 14, ap: 3, damage: Rolled(1, D6, 1), keywords: []), 1),
        /*[2]*/ ((name: "2x High-Output Cyclic Ion Blaster - Standard", range: Ranged(18), attacks: Set(4), skill: 3, strength: 7, ap: 1, damage: Set(1), keywords: []), 1),
        /*[3]*/ ((name: "2x High-Output Cyclic Ion Blaster - Overcharge", range: Ranged(18), attacks: Set(4), skill: 3, strength: 8, ap: 2, damage: Set(2), keywords: []), 1),
        /*[4]*/ ((name: "2x Missile Pod", range: Ranged(30), attacks: Set(2), skill: 4, strength: 7, ap: 1, damage: Set(2), keywords: []), 1),
    ],
    melee_weapons: [
        /*[0]*/ ((name: "Armoured Hull", range: Ranged(1), attacks: Set(3), skill: 5, strength: 6, ap: 1, damage: Set(1), keywords: []), 1),
    ],
    faction_ability: Some("For the Greater Good"),
    core_abilities: [],
    unique_abilities: [
        /*[0]*/ (name: "Titan Hunter", description: "This model’s twin heavy rail cannon and seeker missiles have the [ANTI-TITANIC 3+] ability while targeting a unit within half range."),
        /*[1]*/ (name: "Heavily Armoured", description: "Blank one attack"),
    ],
    faction_keyword: "T\'au Empire",
    keywords: [
        /*[0]*/ "AIRCRAFT",
        /*[1]*/ "VEHICLE",
        /*[2]*/ "FLY",
    ],
    damaged: Some(6),
    unit_comp: (
        comp: []
    ),
    leader: None,
)